@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* margin-top: 80px; */
}


.App-header {
  /* background-color: #222; */
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; 
  width: 100%;
  /* margin: 0; */
}

.sticky {
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black; 
  align-items: center;
  position: fixed;
  top: 0; 
  width: 100%; 
}

.main {
  /* margin-top: 50px; */
}

.App-title {
  font-size: 1.5em;
color: #fed136;
font-family: 'Kaushan Script';
}

.menu {
  font-family: sans-serif;
}

.menu-btn {
  display: none;
}

.pic-content {
  width: 100%;
  height: 700px;
  background-image: url('work-desk.jpg');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  flex-direction: column;
  color: white;
}

.line1 {
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: italic;
}

.line2 {
  padding: 20px;
  font-family: sans-serif;
  font-size:75px;
  font-style: bold;
}

.content-btn {
  background-color: #fed136;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  font-style: bold;
  border: none;
  width: 220px;
  height: 70px;
  border-radius: 5px;
  margin: 20px;
}


.services {
  margin-top: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  align-content: center;
}
.subservices {
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 15px;
}

.services-desc {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: grey;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 30px;
}

.services-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.dabba {
  margin: 20px;
  /* max-width: 200px; */
}

.service-title {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 24px;
}

.service-desc {
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: grey;
  line-height: 25px;
}

@media (max-width: 900px) {
  .App-header {
    height: 50px;
    background: black;
  }

  .menu {
    display: none;
  }
  .menu-btn {
    display: flex;
    background-color: #fed136;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .line2 {
    width: 400px;
  }
}

@media (max-width: 700px) {

  .pic-content {
    width:100%;
    height:450px;
  }

  .services-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .dabba {
    margin: 20px;
    max-width: 400px;
  }
}